*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background: var(--primary-color);
}

:root{
  --primary-color: #4B4E6D;
  --light-color: #FFFFFF;
  --dark-color: #222222;
  --secondary-color: #95A3B3;
  --tertiary-color: #DDDBF1;
}
a {
  text-decoration: none;
  color: var(--primary-color);
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

/* Nav */
.navbar {
  background: var(--secondary-color);
  padding: 20px;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.navbar .main-menu ul {
  display: flex;
}

.navbar ul li a{
  padding: 10px 30px;
  display: block;
  font-weight: 600;
  transition: 0.5s;
}

.navbar ul li a:hover{
  color: var(--tertiary-color);
}


/* Utility Classes */

.container {
  max-width: 1920;
  margin: 0 auto;
  padding: 0 100px;
  border: 2px solid red;
}

.container-sm {
  display: flex;
  max-width: 80%;
  margin: 20px auto;
  height: 700px;
  border: 2px solid red;
  align-items: flex-start;
  gap: 20px;
}

.item{
  width: 150px;
  height: 150px;
  background-color: #FFFFFF;
  padding: 1em;
  border: 10px solid violet;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
}
.item-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 450px;
}
.item-1 img{
  align-items: center;
  justify-content: center;
}

.item-2{
  flex-grow: 1;
  flex-shrink: 10;
  height: 100%;
}